@import url(https://fonts.googleapis.com/css?family=Open+Sans);

p {
    font-family: 'Open Sans';
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
    padding: 10px 100px 10px 10px;
    color: #404040;
}
a:hover, .offcanvas a:focus{
    color: #080808;
    font-weight: bold;
}
img {    
  position: relative;
  left: 60px;
  font-family: Arial;
}
ul {
    font-family: 'Open Sans';
    list-style: none;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 20px;
    padding: 10px 100px 10px 10px;
    line-height: 30px;
}
ol {
  font-family: 'Open Sans';
}
h1 {
    font-family: Verdana;
    margin-right: 10px;
    margin-left: 10px;
    padding: 10px 100px 10px 10px;
    color: #505050
}
h2 {
    font-family: Verdana;
    margin-right: 10px;
    margin-left: 10px;
    padding: 10px 100px 10px 10px;
    color: #505050
}
h3 {
    font-family: Verdana;
    margin-right: 10px;
    margin-left: 10px;
    padding: 10px 100px 10px 10px;
    color: #505050
}
h4 {
    font-family: Verdana;
    margin-right: 10px;
    margin-left: 10px;
    padding: 10px 100px 10px 10px;
    color: #505050
}
h5 {
    font-family: Verdana;
    margin-right: 10px;
    margin-left: 10px;
    padding: 10px 100px 10px 10px;
    color: #505050
}
.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #47AEF5;
  overflow-x: hidden;
  padding-top: 20px;
  font-family: Verdana;
}
.sidenav a {
    padding: 30px 8px 8px 32px;
    text-decoration: none;
    font-size: 16px;
    color: #111;
    display: block;
    transition: 0.3s
}
.sidenav a:hover, .offcanvas a:focus{
    color: #EAF547;
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    font-size: 0px;
}
#main {
  margin-left: 200px;  
}
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 16px;}
}
ul.breadcrumb {
    padding: 0px 200px;
    list-style: none;
    background-color: none;
}
ul.breadcrumb li {
    display: inline;
    font-size: 18px;
    color: black;
}
ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "   ";
}
ul.breadcrumb li a {
    color: #888888	;
    text-decoration: none;
}
ul.breadcrumb li a:hover {
    color: black;
}
