p {
    font-family: Arial;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 20px;
    padding: 10px 100px 10px 10px;
}
ul {
    font-family: Arial;
    list-style: none;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 20px;
    padding: 10px 100px 10px 10px;
    line-height: 30px;
}
a {    
  position: relative;
  left: 60px;
}
h1 {
    font-family: Verdana;
    margin-right: 10px;
    margin-left: 10px;
    padding: 10px 100px 10px 10px;
}
h2 {
    font-family: Verdana;
    margin-right: 10px;
    margin-left: 10px;
    padding: 10px 100px 10px 10px;
}
h3 {
    font-family: Verdana;
    margin-right: 10px;
    margin-left: 10px;
    padding: 10px 100px 10px 10px;
}
h4 {
    font-family: Verdana;
    margin-right: 10px;
    margin-left: 10px;
    padding: 10px 100px 10px 10px;
}
h5 {
    font-family: Verdana;
    margin-right: 10px;
    margin-left: 10px;
    padding: 10px 100px 10px 10px;
}
